@model CBAdmin.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Abbreviation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Abbreviation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Lehrer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>
        <dd></dd>
        <dt></dt>

        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                </tr>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstMidName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
